

@import "utility";

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  padding: 20px 20px;
  border-radius: 0px 0px 8px 8px;

  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 6px rgb(87, 87, 87);
  background-color: rgba(137, 137, 137, 0.159);
  // border-bottom: 1px solid rgb(210, 210, 210);
  backdrop-filter: blur(10.5px);

  .header__search {
    position: relative;
  }
  .header__search-svg {
    position: absolute;
    top: 10px;
    right: 25px;
  }
  .header__svg-search {
    height: 24px;
    width: 24px;
  }
  .header__search-inside {
    width: 448px;
    height: 16px;
    border: 2px solid rgb(171, 171, 171);
    border-radius: 34px;
    padding: 20px 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e5e7eb;
  }
  .header__options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

    .header__profile {
      width: 32px;
      height: 32px;
      background-color: white;
      border-radius: 50%;
      overflow: hidden;

      .header__admin-profile {
        width: 100%;
        height: 100%;
        background-image: url(/public/Male-admin.jpg);
        background-size: cover;
        background-position: center center;
      }
    }
  }

  .header__svg {
    width: 28px;
    height: 28px;
  }
}

.alink {
  text-decoration: none;
  color: #333;
}
.alink-aside {
  text-decoration: none;
  color: #f9f9f9;
}

.select {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.select-check {
  width: 16px;
  height: 16px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 80px;

  .main__aside {
    border-radius: 16px;
    position: fixed;
    left: 10px;
    width: 13%;
    height: 88vh;
    background: rgb(21, 21, 21);
    color: #fff;
    padding: 55px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;

    .main__aside-page {
      font-size: 18px;
      line-height: 30px;
      padding: 8px 24px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .aside-svg {
        width: 24px;
        height: 24px;
      }
    }
    .main__aside-page:hover {
      background-color: rgb(81, 81, 81);
    }
    .main__aside-page:active {
      background-color: rgb(81, 81, 81);
    }
  }
  .main__content {
    width: 85%;
    padding: 20px;
    margin-left: 228px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .hall__top {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;
      // background-color: red;
      margin: 0 auto;
      gap: 1rem;

      //   payment
      .select {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
      }

      .filter {
        width: 150px;
        height: 40px;
        padding: 8px 8px;
        border: 2px solid lightgray;
        border-radius: 8px;
      }
      .filter-btn {
        display: flex;
        justify-content: bottom;
        align-items: end;
        width: max-content;
        height: 40px;
        margin-top: 2.5rem;
        padding: 8px 16px;
        border-radius: 8px;
        background-color: rgb(15, 15, 15);
        color: whitesmoke;
      }

      // user modules
      .user__search {
        position: relative;
      }

      .user__search-input {
        padding: 8px 32px;
        width: 350px;
        border-radius: 8px;
        border: 0;
        border: 1px solid rgb(186, 186, 186);
        background-color: rgb(245, 245, 245);
      }

      .user__search-svg {
        position: absolute;
        top: 12px;
        left: 12px;

        .user__search-svg-inside {
          width: 16px;
          height: 16px;
        }
      }

      .filter__user {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 8px 32px;
        width: 150px;
        height: 42px;
        border-radius: 8px;
        border: 0;
        border: 1px solid rgb(186, 186, 186);
        background-color: rgb(0, 0, 0);
        color: whitesmoke;
        font-size: 18px;
        line-height: 28px;
      }

      .hall__top-options {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      .htof-select {
        width: 150px;
        height: 40px;
        padding: 8px 24px;
        border: 0;
        border-bottom: 1px solid lightgray;
        box-shadow: 0 0 5px lightgray;
      }
      .htof-option {
        width: 100%;
        border-radius: 0;
        background-color: rgb(232, 232, 232);
      }

      .hall__add {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        // border: 2px solid;
        border-radius: 16px;
        background-color: rgb(83, 83, 240);

        .hall__add-svg {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .hall__add-title {
          color: whitesmoke;
          font-size: 16px;
        }
      }
    }
    .hall__table {
      width: 80%;
      height: auto;
      border-radius: 8px;
      overflow: hidden;

      // background-color: gray;
      margin: 0 auto;
      table,
      thead,
      tr,
      th {
        padding: 8px 16px;
        border-collapse: collapse;
      }
      table {
        width: 100%;
      }
      thead {
        background-color: black;
        color: white;
      }
      td {
        text-align: center;
      }
      tr {
        height: 60px;
        border-radius: 16px;
      }

      tr:nth-child(even) {
        background-color: rgb(219, 217, 217);
      }
    }

    // user page preview
    .user__pages-preview {
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .user__page-number {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
    }
    .user__np-btn-inside {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      padding: 8px 8px;
      border-radius: 4px;
      background-color: black;
      color: white;
    }

    .user__add {
      width: 80%;
      margin: 0 auto;
      margin-top: 7rem;
      padding-top: 7rem;
      height: auto;
    }
    .user__add-form {
      margin-top: 2rem;
      width: 70%;

      height: auto;
      padding: 50px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgb(179, 179, 179);
    }
    .user__add-form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      background-color: rgba(234, 234, 234, 0.768);
    }

    .user__add-form-block {
      display: flex;
      width: 100%;
      gap: 5rem;
      padding-bottom: 20px;
      border-bottom: 1px solid lightgray;
      position: relative;
      &:last-child {
        border-bottom: none;
      }
    }
    .user__add-form-btn {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .udf-label {
      color: gray;
      font-size: 16px;
    }
    .uaf-input {
      background-color: transparent;
      border: 0;
      width: max-content;
      height: 40px;
      padding: 0;

      &:focus {
        // border: 0;
        box-shadow: none;
        outline-style: none;
      }
      &::placeholder {
        font-size: 18px;
        color: #333;
      }
    }
    .udf-para-modify {
      width: max-content;
      font-size: 18px;
    }
    .udf-para {
      color: #5b5b5b;
      width: max-content;
      font-size: 18px;
    }

    .udf-btn {
      width: 130px;
      height: 45px;
      border-radius: 8px;
      border: 0;
      box-shadow: 2px 2px 10px 2px lightgray;
      padding: 8px 12px;
      background-color: rgb(66, 66, 66);
      color: #fff;
    }
    .file-pdf {
      position: absolute;
      top: 30px;
      right: 50px;
      cursor: pointer;
    }
  }
}

// payment
.payment__btn-block {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  .pay-btn {
    width: 100px;
    height: max-content;
    padding: 4px 8px;
    border-radius: 8px;
    border: 0;
  }
  .send {
    background-color: rgb(66, 66, 244);
    color: #f9f9f9;
  }
  .remove {
    background-color: rgb(255, 60, 60);
    color: #f9f9f9;
  }
}

// invoice
.invoice {
  margin-bottom: 4rem;
  margin-top: 7rem;
  width: 60%;
  padding: 20px;
  background-color: #eaeaea;
  margin-left: 6rem;
  border-radius: 8px;
}
.invoice-header {
  text-align: center;
}
.invoice-title {
  font-size: 24px;
}
.invoice-details {
  font-size: 14px;
}
.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.invoice-table th,
.invoice-table td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}
.invoice-total {
  margin-top: 20px;
}
.invoice-notes {
  margin-top: 20px;
  font-size: 14px;
}

// booking policy
/* Style for the radio buttons */
input[type="radio"] {
  margin-right: 10px;
}

/* Style for the label text */
label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
